@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* For rgb(255 115 179 / <alpha-value>) */
    --primary: 338, 53%, 50%;
    --primary-foreground: 210 40% 98%;
  }
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../src/fonts/Quicksand-VariableFont_wght.ttf') format('ttf');
}
